.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--color-white);
  border-bottom: 3px solid var(--color-light-grey);
}
.header__logo:hover{
  opacity: 30%;
}
.header__content{
  margin: auto 200px;
  display: flex;
  height: 80px;
  align-items: center;
}
.header__menu {
  margin-left: auto;
  display: inline-block;
}
.header__menu__item {
  color: #6c6c6c;
  padding: 10px 26px;
  text-decoration: none;
  vertical-align: middle;
}
.header__menu__item:hover{
  color:#7802ff
}
.header__menu__item:last-child {
  margin-right: 0;
}
.header__menu__item--active {
  display: inline-flex;
  vertical-align: middle;
}
.header__menu__item--active:hover {
  color: var(--color-black);
}
.header__line{
  margin: 0 -200px;
  height: 4px;
  background: linear-gradient(to right, #E39600 0%, #EA4C89 33.33%, #8F48EB 70.83%, #1DA1F2 100%);
}


@media only screen and (max-width: 480px){
  .header {
    margin: 16px;
    flex-wrap: wrap;
  }
  .header__logo {
    width: 100px;
  }
  .header__menu {
    order: 3;
    margin: 40px -16px 0 -16px;
    padding: 0 16px;
    display: flex;
    overflow: auto hidden;
    scrollbar-width: none; /*Scrollbar fix for firefox browser*/
}
.header__menu::-webkit-scrollbar {
  width: 0;
  height: 0;
}
  .header__menu__item {
    flex-shrink: 0;
  }
}