<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <title>Menu</title>
</head>
<body>
  <div id="menu-btn">
    <a href="../pix/index.html"><button class="btn">Fazer PIX</button></a>
    <a href="../consulta/index.html"><button class="btn">Consultar</button></a>
  </div>
</body>
<script src="./index.js"></script>
</html>