<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <title>Consulta</title>
</head>

<body>
  <div class="container">
    <label class="user_lbl" for="user_id">ID do usuário</label>
    <div class="form">
      <input id="user_id" type="number" placeholder="Digite aqui o ID..">
      <input type="checkbox" class="checkoption" name="type[0]" id="type[0]" value="received"
        onclick="checkUncheck(this)">
      <label for="received">Recebidos</label>
      <input type="checkbox" class="checkoption" name="type[1]" id="type[1]" value="sent" onclick="checkUncheck(this)">
      <label for="sent">Enviados</label>
      <button class="summit_btn" onclick="listPix()">Listar</button>
    </div>
  </div>
  
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="desc-column" scope="col">Id</th>
          <th class="action-column" scope="col">Remetente</th>
          <th class="action-column" scope="col">Destinatário</th>
          <th class="action-column" scope="col">Data</th>
          <th class="action-column" scope="col">Valor</th>
        </tr>
      </thead>
      <tbody id="mytable">
        <tr>
          <th scope="row" colspan="5">Loading...</th>
        </tr>
      </tbody>
    </table>
  </div>
</body>
<script src="./index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</html>